<div id="<%= dom_id estoque %>">
  <p>
    <strong>Nome:</strong>
    <%= estoque.nome %>
  </p>

  <p>
    <strong>Preco kg:</strong>
    <%= estoque.preco_kg %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= estoque.quantidade %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= estoque.desc %>
  </p>

  <p>
    <strong>Lote:</strong>
    <%= estoque.lote %>
  </p>

</div>
