<div id="<%= dom_id estoque %>">
  <td>
    <%= Produto.where(:id => estoque.produto_id).pluck(:nome)[0] %>
  </td>

  <td>
    <%= estoque.preco_kg * estoque.quantidade %>
  </td>

  <td>
    <%= estoque.quantidade %>
  </td>

  <td>
    <%= estoque.desc %>
  </td>

  <td>
    <%= estoque.lote %>
  </td>

</div>
